@import url("./reset.css");

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color: rgb(231, 231, 231); */
}

.main_container {
    margin: 0 auto;
    width: 85%;
    max-width: 1200px;

}

.main {
   
    flex: 1;

}
.footer {
   
    flex-shrink: 0;
}
