.post_detail {

    padding: 2rem 0;
}

.post_detail-title {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(39, 39, 39);
    padding-bottom: 1rem;
}

.post_detail-text {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(107, 107, 107);
    padding-bottom: 1rem;
}